/* Estilos para la página de "Nosotros" */
.about-us {
    padding: 40px;
    background-color: #f8f8f8;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #0044cc;
    font-size: 32px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-text {
    flex: 1;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}